*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: tahoma;
}
body {
  background-image: linear-gradient(to left, #91e7e5, #808ed5, #808ed5);
}
.crcl1,
.crcl2 {
  content: "";
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 50%;
}
.crcl1 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.crcl2 {
  position: absolute;
  top: 0;
  right: 20px;
}
.content {
  position: relative;
  /* 
top: 80px;
left:150px; */
  margin: 70px auto;
  height: 500px;
  width: 1000px;
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  border-radius: 7px;
  z-index: 2;
}

.content .navbar ul {
  margin: 0px;
  padding: 0px;
  position: absolute;
  height: 100px;
  width: 1000px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
 justify-content: center;
  z-index: 2;
}
.content .navbar li {
  margin: 0px auto;
  padding-right: 15px;
  height: 100px;
  width: 100px;
  display: inline-flex;
  justify-content: center;
  transition:   3s;
}
.content .navbar li:hover
{
    background: linear-gradient(to left, #91e7e5, #808ed5);
}
.content .navbar li img
{
    width: 50px;
    margin-left: -5px;
}
.content span
{
    padding: 15px;
    height: 40px;
    width: 50px;
    display: block;
    text-align: center;
}
.hold
{
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
}
.profile img
{
    height: 350px;
    width: 200px;
    box-shadow: 1px 1px 12px 0px #00000044;
    /* position: absolute;
    top: 0px;
    left: 0px; */
}
.profile
{
    padding: 20px;
    height: 400px;
    width: 25%;
}
.name
{
    line-height: 1.3;
    height: 400px;
    width: 37%;
}
.contact
{
    padding: 20px;
    height: 400px;
    width: 37%;
    box-shadow: -6px -20px 20px 0px rgb(0 0 0 / 6%);
}
.content .contact ul{
    font-weight: bold;
    line-height: 50px;
    list-style: none;
}
.content .contact ul li span
{
display: inline;
font-weight: normal;
}